.grid-container {
  display: grid;
  width: 60%;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  padding-left: 15%;
  margin-left: auto;
  margin-right: auto;
}

.player-link {
  color: black;
  padding-left: 8px;
  font-size: medium;
  text-align: left;
}

.player-link:hover {
  background-color: coral;
}

.player-thumbnail {
  height: 50px;
  width: 40px;
}

.player-jersey {
  font-size: 20px;
  width: 5px;
  text-align: right;
}

.player-container {
  padding-left: 30%;
  margin-left: auto;
  margin-right: auto;
}

.player-container-edit {
  padding-left: 20%;
  padding-top: 130px;
  margin-left: auto;
  margin-right: auto;
}

.player-image {
  height: 250px;
  width: 300px;
}

.btn-delete {
  background-color: darkred;
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  border-radius: 8px;
}

.btn-edit,
.btn-submit {
  background-color: darkgreen;
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  border-radius: 8px;
}
