.team-link {
  text-decoration: none;
  color: black;
  padding-bottom: 2px;
}

.team-link:hover {
  background-color: coral;
}

.team-name {
  font: 1em sans-serif;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
}

.team-logo {
  width: 20px;
  height: 20px;
  padding-right: 3px;
}
.team-container {
  width: 70%;
  height: 15%;
  padding-left: 15%;
  margin-left: auto;
  margin-right: auto;
}

.team-logo-big {
  width: 150px;
  height: 150px;
  padding: 0px;
}

.team-name-big {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: oblique;
  font-weight: bolder;
  font-size: 70px;
  padding-left: 25%;
}
.team-city-big {
  font-family: "Courier New", Courier, monospace;
  text-align: left;
  font-size: 40px;
}
